@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("http://fonts.cdnfonts.com/css/beautiful-heart");
@import url("http://fonts.cdnfonts.com/css/rounded-elegance");

* {
  margin: 0;
  padding: 0;
}

.App {
  background: url("./assets/background/4367375.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
min-width:100%;
  min-height: 1400px;
  font-family: "Rounded Elegance", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.main h1 {
  font-family: "Beautiful Heart", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 118px;
  line-height: 201px;
  color: #fbcf33;
}
.main p {
  text-align: justify;
  letter-spacing: 0.045em;
  width: 540px;
  font-size: 28px;
  height: 125.11px; 
  line-height: 42px;
  font-family: "Rounded Elegance", sans-serif;
  /* or 150% */

  color: #ffffff;
}
.homenav {
  display: flex;
  justify-content: space-between;
}
.homenav .navbar {
  align-items: space-between;
}
.main {
  padding: 220px 124px;
}
div .navbar {
  position: fixed;
}
.navbar .nav-item,
.navCol .nav-item {
  list-style: none;
  padding-right: 20px;
}
.navbar .nav-item .nav-link,
.navCol .nav-item .nav-link,
.dropedBox .menu a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
.navbar .nav-item :hover,
.navCol .nav-item :hover,
.dropedBox a:hover {
  color: #fbcf33;
  text-decoration: underline;
}
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar .nav-item a img {
  width: 32px;
  height: 32px;
}
.navbar .nav-item a .avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.modal-content {
  background-color: black;
  width: 100%;
  padding: 20px;
  top: 0;
}
.navCol {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background: hsla(0, 0%, 0%, 0.678);
  margin: 20px;
}

.navCol h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  margin-bottom: 37px;

  color: #fbcf33;
}
.navCol span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.dropedBox {
  position: sticky;
  display: flex;
  background: url("./assets/background/4367375 1.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: 800px;
}
.dropedBox .menu1,
.dropedBox .menu2 {
  color: #ffffff;
  display: flex;
  align-content: center;
  margin: 247.5px 0 20px 135px;
}
.dropedBox .title {
  display: flex;
  align-content: center;
  font-family: Rounded Elegance;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  transform: rotate(-90deg);
  max-height: 100px;
  max-width: 100px;
}
.dropedBox .title p {
  max-width: 100px;
  width: 100px;
}
.dropedBox .title hr {
  border: 5px none white;
  background-color: white;
  width: 349px;
  height: 2px;
  margin-right: 10px;
}

.dropedBox h3 {
  font-family: Rounded Elegance;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  color: #ffffff;
}

.main .row {
  margin-top: 100px;
  width: 100%;
}
.category {
  background: hsla(0, 0%, 0%, 0.678);
}
.category h1 {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 146.69%;
  /* identical to box height, or 106px */

  color: #fbcf33;
}
.galheader {
  width: 100%;
  max-width: 100%;
  background: hsla(0, 0%, 0%, 0.678);
}
.galheader #myVideo {
  position: stiky;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.galheader .about {
  display: flex;
  flex-direction: row;
  align-items: space-around;
}
.galheader .about p {
  font-family: Rounded Elegance;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 146.69%;
  margin: 97px 135px;

  text-align: justify;

  color: #ffffff;
}

.login {
  position: sticky;
  width: 708px;
  height: 726px;
  margin-left: 332px;
  margin-top: 101px;
  padding: 55px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 33px;
}
.login h2 {
  width: 228px;
  height: 74px;
  left: 387px;
  top: 183px;

  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  color: #ffffff;
}
.login .forminput {
  width: 605px;
  height: 72px;
  left: 387px;
  top: 347px;

  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #fbcf33;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.login .inputgroup img {
  position: absolute;
  margin: 22px;
}
.login .inputgroup {
  margin-top: 27px;
}
.login .inputgroup-row {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
}
.login .inputgroup-row input {
  width: 283px;
  height: 72px;
}
.login .checkinput {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .checkinput a {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}
.login .loginfooter {
  position: absolute;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}
.login .loginfooter a {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #fbcf33;
}
.login .checkinput a:hover {
  text-decoration-line: underline;
  color: #fbcf33;
}
.login .checkinput div {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  /* identical to box height */

  color: #ffffff;
}
.login .checkinput .check {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  width: 22px;
  height: 22px;
  background-color: hsla(0, 0%, 100%, 0.164);
  margin-right: 10px;
}
.login .checkinput p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-left: 10px;
}
.login .checkinput p span {
  color: #fbcf33;
}
.login button {
  margin: 40px 180px;
  width: 262px;
  height: 48px;
  background: rgba(251, 207, 51, 0.65);
  border-radius: 16px;
  border: 1px;
  box-sizing: border-box;
}

.social {
  position: fixed;
  width: 61px;
  height: 450px;
  right: 0;
  top: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(196, 196, 196, 0.31);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px 0px 0px 22px;
  box-sizing: border-box;
}
.social img {
  margin: 20px 0;
}

.social p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  width: 300px;
  height: 20px;
  transform: rotate(-90deg);
  color: #ffffff;
  box-sizing: border-box;
  margin-top: 50px;
}
.register {
  width: 708px;
  height: 811px;
}
.register .loginfooter {
  position: absolute;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}
.carrouselpack h1 {
  color: #fbcf33;
}
.carrouselpack {
  position: absolute;
  width: 444px;
  height: 616px;
  top: 170px;
  border-radius: 26px;
}
.carousel_____container {
  height: 500px;
  width: auto;
}

.cardevents{
  display: flex;
  justify-content: space-around;
}

.main-about video{
  position: relative;
width: 1151.89px;
height: 659.84px;
left: 15%;
top: 126px;
}
.main-about .partner{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 223px;
}
.main-about h1{
  font-family: Rounded Elegance;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
width: 361px;
height: 55px;

color: #FBCF33;
}